{:novus.components.jetty/server {:handler #ig/ref :novus.server/app
                                 :port 3000}
 :novus.server/app {:datomic #ig/ref :novus.components.datomic-dev-local/db
                    :auth0 #ig/ref :novus.components.auth0/auth}
 :novus.components.auth0/auth {:client-secret "auth0-client-secret"}
 :novus.components.datomic-dev-local/db {:server-type :dev-local
                                         :system "dev"
                                         :db-name "novus"
                                         :storage-dir :mem}}
